name: ORT Analyzer and Scanner

on:
  workflow_dispatch:

jobs:
  ort:
    runs-on: ubuntu-latest

    steps:
    
      - name: Cache ORT results
        uses: actions/cache@v4
        with:
          path: |
            ~/.ort/cache
          key: ort-cache-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            ort-cache-${{ runner.os }}-

      - name: Run GitHub Action for ORT
        uses: oss-review-toolkit/ort-ci-github-action@v1
        with:
          vcs-url: 'https://github.com/twbs/icons.git'
          run: >
            cache-dependencies,
            labels,
            analyzer,
            evaluator,
            advisor,
            scanner,
            reporter,
            upload-results
           
          scanner: 'ScanCode'
          ort-version: '53.0.0'
          ort-cli-args: '-P ort.scanner.skipExcluded=true --reporter.output-dir=tools/ort-results'
          evaluator-cli-args: '--rules-file=.ort/rules/custom-rules.kts'
          ort-cli-scan-args: '--package-types=PROJECT'
          report-formats: 'WebApp,CycloneDx,SpdxDocument,PdfTemplate,EvaluatedModel'

      - name: Check if ORT report directory exists and list contents
        run: |
          echo "Checking tools/ort-results..."
          if [ -d "tools/ort-results" ]; then
            echo "ORT reports generated:"
            ls -R tools/ort-results
          else
            echo "tools/ort-results directory does NOT exist."
          fi

      - name: Upload ORT reports as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ort-results
          path: tools/ort-results
